html {
  font-family: 'Quicksand', sans-serif;
  font-size: 62.5%;
  background-color: #f9f9f9;
  margin: 0;
}

body {
  margin: 0;
}

/*Links*/
a {
  text-decoration: none;
  color: black;
}

a li:visited {
  color: black;
}

a li:hover {
  text-decoration: underline;
}

/*Navigation*/
.page-title {
  margin: 0 0 15px 25px;
  font-size: 2.8em;
  color: white;
  font-weight: lighter;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #042345;
  margin: 0 0 30px 0;
}

.main-nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav-list-item {
  margin: 0px 50px 0 20px;
  font-size: 1.8em;
  color: white;
}

/*Content Wrapper*/
/*.content-wrapper {
  display: flex;
  justify-content: space-between;
}*/

/*Section - Photo gallery*/
.section-image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.image {
  background-color: #f9f9f9;
  width: 550px;
  /*height: 281px;*/
  margin: 10px;
}

.image img {
  max-width: 100%;
  max-height: 100%
}

/*About Page*/
.content-wrapper-about {
  display: flex;
}

.about {
  margin-right: 300px;
}

.about-title {
  font-size:1.8em;
  margin: 0;
}

.about-content {
  width: 500px;
  font-size: 1.4em;
}

.about-contact-title {
  font-size: 1.6em;
}

.profile-image {
  width: 640px;
  height: 360px;
  border: 2px solid black;
}
