html {
  font-family: 'Quicksand', sans-serif;
  font-size: 62.5%;
  background-color: #f9f9f9;
  height: 100%;
}

body {
  margin: 0;
}

.background-img {
  margin: 0;
  background: url(img/dslr/8.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

/*Links*/
a {
  text-decoration: none;
  color: #fff;
}

a li:hover {
  text-decoration: underline;
}

.email-link {
  color: #000;
}

.back-to-top {
  color: #000;
  font-size: 1.4em;
  margin: 10px;
}

/*Header*/
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  background-color: #1B1E1F;
  opacity: 0.8;
  margin-bottom: 30px;
}
.page-title {
  margin: 20px 0 20px 20px;
  font-size: 2.8em;
  color: white;
  font-weight: lighter;
  opacity: 1.0;
}

.main-nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-right: 20px;
}

.main-nav-list-item {
  margin: 0 20px 20px 20px;
  font-size: 1.8em;
  color: white;
  opacity: 1.0;
}

/*Section - Photo gallery*/
.section-image-gallery {
  width: 85%;
  margin: 0 auto;
}

.gallery-wrapper {
  column-count: 3;
}

.image {
  background-color: #f9f9f9;
  width: 550px;
}

.image-images {
  width: 100%;
  height: auto;
}

/*About Page*/
.about-wrapper {
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
}

.about {
  margin-right: 300px;
}

.about-title {
  font-size:1.8em;
  margin: 0;
}

.about-content {
  width: 500px;
  font-size: 1.4em;
}

.about-contact-title {
  font-size: 1.6em;
}

.profile-image {
  width: 640px;
  height: 360px;
  border: 2px solid black;
}
